DATABASE_URL="mysql://u000000_user:CHANGE_ME_DB_PASSWORD@mysql.hostinger.com:3306/u000000_meufreelas"
NEXTAUTH_URL="https://meufreelas.com.br"
NEXTAUTH_SECRET="CHANGE_ME_STRONG_SECRET_32_CHARS_MIN"
GOOGLE_CLIENT_ID="CHANGE_ME_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="CHANGE_ME_GOOGLE_CLIENT_SECRET"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="CHANGE_ME_CLOUD_NAME"
CLOUDINARY_API_KEY="CHANGE_ME_CLOUDINARY_KEY"
CLOUDINARY_API_SECRET="CHANGE_ME_CLOUDINARY_SECRET"
CLOUDINARY_UPLOAD_PRESET="freelas-uploads"
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="noreply@meufreelas.com.br"
SMTP_PASS="CHANGE_ME_SMTP_PASSWORD"
EMAIL_FROM="meufreelas <noreply@meufreelas.com.br>"
STRIPE_PUBLIC_KEY="CHANGE_ME_STRIPE_PK"
STRIPE_SECRET_KEY="CHANGE_ME_STRIPE_SK"
STRIPE_WEBHOOK_SECRET="CHANGE_ME_STRIPE_WHSEC"
NEXT_PUBLIC_APP_URL="https://meufreelas.com.br"
NEXT_PUBLIC_APP_NAME="meufreelas"
PLATFORM_FEE_PERCENT="10"
MIN_PROJECT_VALUE="50"
JWT_SECRET="CHANGE_ME_STRONG_JWT_SECRET_32_CHARS_MIN"
ADMIN_EMAIL="admin@meufreelas.com.br"
